* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/* The Following CSS styles are for Nav */

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.nav-title {
  font-size: 35px;
  font-weight: 800;
}

.btn-primary {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
}

/* The Following CSS styles are for Banner Section */

.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  height: 530px;
  width: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.banner-title {
  text-align: center;
}

.banner-info {
  color: rgb(70, 75, 86);
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

#contact-me {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* The Following CSS styles are for Why Web Development Section */

.why-web-dev {
  width: 1100px;
  height: auto;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 80px 97px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
}

.why-web-dev-sec-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.why-web-dev-sec-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.point {
  width: auto;
  height: auto;
  display: flex;
  gap: 50px;
  padding: 0px 40px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.point-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.point-head {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.point-info {
  color: rgb(110, 117, 134);
  font-size: 14px;
  text-align: left;
}

.btn-learn {
  width: 100px;
  padding: 5px;
}

#point2 {
  flex-direction: row-reverse;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* The Following CSS styles are for My Inspiration Section */

.my-inspiration-sec-details {
  margin-top: 20px;
  margin-bottom: 30px;
}

.my-inspiration-sec-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.my-inspiration-sec-info {
  color: rgb(83, 87, 99);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.video-section {
  display: flex;
  justify-content: center;
}

.inspirational-video {
  width: 1140px;
  height: 614px;
  padding: 32px;
  margin: 48px 0px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

/* The Following CSS Styles are for My Current Target Section */

.my-current-target {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.my-target {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.all-targets {
  padding: 60px;
  display: flex;
  gap: 30px;
}

.target-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.target-info {
  color: rgb(82, 91, 112);
  font-size: 16px;
  text-align: center;
}

.target {
  width: 400px;
  height: auto;
  border-radius: 16px;
  padding: 20px;
}

#target-1 {
  background-color: rgba(255, 76, 30, 0.05);
}

#target-2 {
  background-color: rgba(0, 76, 232, 0.05);
}

#target-3 {
  background-color: rgba(255, 223, 0, 0.05);
}

.course-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.course-info {
  color: rgb(13, 19, 33);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

/* The Following CSS styles are for I need Support Section */

.support {
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  padding-top: 80px;
  margin: 0px 40px;
  border-radius: 8px;

}

.support-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.support-info {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.feedback{
    width: 350px;
    padding: 14px;
    border-radius: 8px;
    border: transparent;
}

#btn-submit{
    border: transparent;
}
